--primary: #ffffff;
--text-color: #1c3345;
--text-color-2: #474747;
--background-color: #f8f8f8;
--accent-color: #c3922e;
--font-1: "Libre Baskerville", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@400;600;700&display=swap");
